<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Faces Generator</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; flex-direction: column;">
        <h1>Human Faces Generator</h1>
        <img src="data:image/png;base64,{{ image_data }}" alt="Generated Image" width="448px">
        <button id="btn" class="button" style="margin-top: 40px;">Generate!</button>
    </div>
    <script src="script.js"></script>
</body>
</html>
