<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Faces Generator</title>
    <link href="./out.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
    <h1 class="text-3xl text-center mt-8">Human Faces Generator</h1>
    <div class="flex items-center justify-center mt-8">
        <img src="data:image/png;base64,{{ noise }}" alt="Noise" class="w-36">
        <img src="assets/arrow.jpg" alt="Arrow" class="w-20 ml-8">
        <img src="data:image/png;base64,{{ image_data }}" alt="Generated Image" class="w-72 ml-8">
    </div>
    <button id="btn" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-full block mx-auto mt-8">Generate!</button>
    <script src="script.js"></script>
</body>
</html>
